.page {
    background-color: green;
    width: 100%;
    position: relative;
    margin: 0 auto;

}

.header {  
   width: 100%;
    position: absolute;
    top: 0;
    left: 0;  
   margin: 0 auto;

}

.logo { 
    font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;
}

.menu {
    display: flex;
    list-style-type: none;
   
    
}

.menu__link {
    margin-right: 34px;
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
    color: white;
    text-decoration: none;

    
}

.header__content {
    max-width: 86%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.search {
    background-image: url(../images/headerpic.png);
    width: 100%;
    min-height: 576px;
    background-size: cover;
}