.not-found__subtitle {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
color: #B6BCBF;
}

@media screen and (max-width: 465px) {
    .not-found__subtitle {
        text-align: center;
    }
}