.footer__social-link {
    margin-right: 28px;
}

.footer__social-link:last-child {
    margin-right: 0;
}


@media screen and (max-width: 640px) {
    .footer__social-link {
        margin-right: 12px;
    }
}