.header__content {
    min-height: 80px;
    max-width: 86%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .header__content {
        max-width: 90%;
    }
}