.menu__link {
    padding-bottom: 26px;
  margin-left: 34px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf; 

  text-decoration: none;
}

@media screen and (max-width: 465px) {
  .menu__link {
    margin-left: 12px;
    font-size: 16px;
  }
}

