.commit__btn {
    text-decoration: none;
    margin: 0 auto;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 12px;
    color: #1A1B22;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #1A1B22;
    box-sizing: border-box;
    border-radius: 80px;
    max-width: 288px;
    min-height: 55px;
}