.search__subtitle {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
margin: 32px auto 64px auto;
}

@media screen and (max-width: 768px) {
    .search__subtitle {
        font-size: 18px;
        line-height: 24px;
        max-width: 453px;  
    }
}