@import url(./__link/menu__link.css);
@import url(./__link/_active/menu__link_active_light.css);
@import url(./__link/_active/menu__link_active_dark.css);

@import url(./__link/_theme/menu__link_theme_light.css);
@import url(./__link/_hover/menu__link_hover_dark.css);


.menu {
    font-family: Roboto;
    display: flex;
    list-style-type: none;
   
    
}

@media screen and (max-width: 375px) {
    .menu {
        padding: 0;
    }
}