.commit__card {
    text-decoration: none;
    background: #fff;
    display: block;
    border-radius: 16px;
    width: 400px;
    padding: 24px 24px 0 24px;
    box-sizing: border-box;
    cursor: pointer;
}

